<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">TP1 : Todo List Angular</span>
  </div>
</nav>

<section class="container">
  <div class="row">
    <div class="col-md-6">
      <app-todos-list titre="jeux à finir"></app-todos-list>
    </div>

    <div class="col-md-6">
      <app-todos-list titre="animés en cours"></app-todos-list>
    </div>

    <div class="col-md-6">
      <app-todos-list titre="animés en cours"></app-todos-list>
    </div>

    <div class="col-md-6">
      <app-todos-list titre="animés en cours"></app-todos-list>
    </div>

    <div class="col-md-6">
      <app-todos-list titre="animés en cours"></app-todos-list>
    </div>

    <div class="col-md-6">
      <app-todos-list titre="animés en cours"></app-todos-list>
    </div>
  </div>
</section>
