<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">TP1 : Todo List Angular</span>
  </div>
</nav>

<section class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Saisir nom de la TodoList"
          [(ngModel)]="inputTodoList"
          (keyup.enter)="addTodoList()"
        />
        <button
          (click)="addTodoList()"
          class="btn btn-outline-info"
          type="button"
        >
          + Créer
        </button>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div *ngFor="let elem of liste" class="col-md-6">
      <app-todos-list [titre]="elem"></app-todos-list>
    </div>
  </div>
</section>
